.header{
  background-color:green;
  color:black;
  height:80px;}
.header-logo{
  float:left;
  font-size: 30px;
  padding:20px 40px;}
.header-list li{
  float:left;
  padding: 30px 20px;}
  .main{
    padding:10px;}
  .copy-container h1{
  font-size:30px;}

  .footer{
    background-color: #2f5167;
    color:#fff;
    height: 50px;
    padding:30px;}
    .footer-logo{
      float:left;
      font-size:30px;}
  .footer-list{
    float:right;}
